body {
    background-color: #F8F8F8;
}


.container {
    width: 400px;
    margin: 100px auto;
}

.container .photo {
    width: 400px;
    height: 178px;
    cursor: pointer;
    overflow: hidden;
}

.container ul.photo li {
    width: 200px;
    height: auto;
    float: left;
}

.container .photo img {
    width: 200px;
    height: auto;
}
