body {
  background-color: #F8f8f8;
}


.accordion {
  width: 400px;
  margin: 100px auto;
}

.accordion dl {
  margin-bottom: 40px;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05); */
}

.accordion dt {
  padding: 16px;
  background-color: #50D2C2;
  color: #FFF;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.accordion dd {
  padding: 16px;
  visibility: hidden;
  opacity: 0;
  /* display: none; */
  transition: all .5s ease;
  background-color: #FFF;

}

.accordion dd.show {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.accordion dd ul {
  list-style: none;
}

.accordion dd ul li {
  list-style: none;
  margin: 12px 0;
  color: #444444;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
